body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.topmenu {
    background-color: #008B8B;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    top: 0;
    z-index: 1030;
    padding-left: 30px;
}

.topmenu > li {
    display: block;
    width: 100px;
    text-align: center;
    float: left;   
    text-decoration: none;     
}

.topmenu a {
    text-decoration: none;
    color: white;
}

.topmenu a:hover {
    background-color: #009999 !important;
}

.mainContent {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}